.backgroundAcc {
  width: auto; /* Reduce the width */
  height: auto; /* Keep height dynamic based on content */
  background-color: #222122;
  border-radius: 19px;
  position: relative;
  left: 0.5%;
  top: 10px;
}

.aboutImg {
  width: 100%; /* Set to 100% to fill the container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 30px;
}

.aboutBlnceLogo {
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  padding-bottom: 30vh;
}

.aboutHeader {
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  padding-bottom: 30vh;
  color: #e2dccb;
  stroke-width: 20%;
  font-size: 9vh;
}

.aboutSpan {
  display: block;
  width: 40%;
  height: 5px;
  background-color: #e2dccb;
  margin: 10px auto;
  position: relative;
  top: -75vh;
}

.intro {
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  padding-bottom: 30vh;
  color: #e2dccb;
  font-size: 4vh;
  font-weight: 700;
  text-align: center;
}

.features {
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  padding-bottom: 30vh;
  color: #e2dccb;
  font-size: 4vh;
  font-weight: 700;
  text-align: center;
}

.meetTheTeam {
  padding: 0; /* Add padding inside the container */
  margin: 0;
  background-color: #f6f6f6; /* Optional: Background color */
  color: #222122; /* Text color */
  border-radius: 10px; /* Optional: Rounded corners */
  text-align: center;
}

.aboutBlnceLogoAlt {
  position: relative;
  width: 500px; /* Set a fixed width */
  left: 1%;
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Ensure it doesn't exceed the container's width */
  display: block; /* Ensure proper layout */
  margin: 0 auto;
}

.meetTheTeamTxt {
  font-family: "Josefin Sans", sans-serif;
  position: relative;
  width: auto;
  height: auto;
  padding-bottom: 30vh;
  color: #222122;
  font-size: 4vh;
  font-weight: 700;
  text-align: center;
}
