/* GLOBAL STYLES */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/*  TOP, BACKGROUND  */
.background-rect {
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: #222122;
  background-size: cover;
  background-position: center;
  margin-top: 0.8%;
}

/*  EXERCISE TYPE CONTAINER INFO  */
.exercise-container {
  padding-top: 8%;
  width: 95vw;
  height: auto;
  margin: 0 auto;
  pointer-events: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
  justify-content: center;
  align-items: center;
}

.exercise-item {
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  margin: 1rem;
  width: 25rem;
  height: auto;
  transition: transform 0.2s ease;
}

.exercise-item:hover {
  transform: scale(1.05);
}

.exercise-img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  display: block;
}

/* WORKOUT TITLE */
.workout-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  grid-column: 1 / -1;
  margin-bottom: 1rem;
}

.exercise-container h2 {
  grid-column: 1 / -1; /* spans all grid columns */
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #e2dccb;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

#about-vector {
  width: 3vw;
  height: auto;
}

/*  CREATE WORKOUT  */
#create-background {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 60%;
  height: 20vh;
  margin: -1.8rem auto;
  z-index: 10;

  border-radius: 50px;
  background-color: #e2dccb;
  text-align: center;
}

#create-background h2 {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  margin: 2%;
}

#create-button {
  display: block;
  margin: 0 auto;
  font-size: 1rem;
  padding: 10px 40px;
  font-weight: 700;
  background-color: transparent;
  color: #222122;
  border: 3px solid #222122;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2%;
}

#create-button:hover {
  background-color: #222122;
  color: #e2dccb;
}

/*  SPECIFIC EXERCISE TYPE TEMPLATE*/
#exercise-image {
  width: 100%;
  height: clamp(10vh, 60vh, 700px);
  object-fit: cover;
  object-position: center;
  display: block;
}

#exercise-name {
  font-size: 6rem;
  padding-top: 2%;
  color: rgb(34, 33, 34);
  font-weight: bold;
}

.description {
  display: flex;
  gap: 15%;
}

.description h1 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 3%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.description p {
  width: 40rem;
  font-size: 1.3rem;
  padding-top: 2%;
  text-align: left;
}

.exercise-quote {
  border-radius: 40px;
  width: 100%;
  height: auto;
  background-color: rgb(106, 142, 174);
}

#exercise-quote {
  font-size: 3rem;
  text-align: center;
  padding-top: 2%;
  padding: 2%;
  padding-left: 1%;
  padding-right: 1%;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.exercise-benefits {
  border-radius: 40px;
  width: 45%;
  height: auto;
  background-color: rgb(106, 142, 174);
  padding: 2%;
  padding-left: 5%;
  margin-bottom: 3%;
}

.exercise-benefits h2 {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 0%;
}

#exercise-benefits {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  margin-top: 1%;
}

/*  BUTTONS FOR SPECIFIC GOALS  */
.goals {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  padding-top: 0%;
  flex-wrap: wrap;
  background-color: #f7f7f7;
}

.goalcube {
  background: rgb(106, 142, 174);
  padding: 2rem;
  border-radius: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 20rem;
  text-align: center;
  cursor: pointer;
}

.goalcube:hover {
  transform: scale(1.05);
}

.goalcube a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*  POPULAR PANEL  */
.popular {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 0.02%;
}

.popular h1 {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 1%;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: #222122;
}

.popular a {
  padding-right: 3%;
  margin-left: auto;
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.popular a .arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

.popular a:hover .arrow {
  transform: translateX(5px);
}

#popular-emoji {
  padding-left: 1%;
  width: 6%;
  height: autos;
}

.panel {
  flex: 1;
  transition: flex 0.5s ease;
  margin: 10px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.popular-panels {
  display: flex;
  width: 98%;
  height: 30em;
  gap: 0.5rem;
  margin: 0 auto;
}

.popular-panels .panel:first-child {
  flex-grow: 3;
}

.popular-panels .panel:first-child .panel-text {
  opacity: 1;
  visibility: visible;
}

#high,
#medium,
#low {
  background-color: rgb(226, 220, 203);
}

.panel:hover {
  flex: 3;
}

.popular-panels:hover .panel {
  flex: 1;
}

.popular-panels:hover .panel:hover {
  flex: 3;
}

.popular-panels .panel {
  position: relative;
  overflow: hidden;
}

.popular-panels .panel::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(229, 225, 209);
  z-index: 1;
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.popular-panels .panel:first-child::after {
  opacity: 0;
}

.popular-panels:hover .panel:first-child::after {
  opacity: 1;
}

.popular-panels:hover .panel:hover::after {
  opacity: 0;
}

.popular-panels:hover .panel .panel-text {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.popular-panels:hover .panel:hover .panel-text {
  opacity: 1;
  visibility: visible;
}

/*  WORKOUT SPECIFICS */
#workout-body {
  background-color: rgb(226, 220, 203);
}

.wohead {
  display: flex;
  flex-direction: row;
  gap: 30%;
}

.wohead button {
  background-color: transparent;
  color: rgb(34, 33, 34);
  padding: 10px 40px;
  height: 4rem;
  border: 3px solid rgb(34, 33, 34);
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 40px;
  cursor: pointer;
  margin-top: 5rem;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

#workout-name {
  font-size: 5rem;
  padding-top: 2%;
  color: rgb(34, 33, 34);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0%;
}

#workout-description {
  font-size: 1.5rem;
  color: rgb(34, 33, 34);
  text-align: left;
  margin-top: 0%;
}

.wo-list {
  display: flex;
  flex-direction: row;
  gap: 20%;
  font-size: 1.5rem;
  padding-left: 12%;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 20px;
}

.workout-benefits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 0%;
  width: 60rem;
  gap: 23rem;
  padding-left: 16%;
}

#workout-time {
  font-size: 1rem;
  color: rgb(34, 33, 34);
  margin-top: 16px;
}

.warmup-content {
  width: 98%;
  height: auto;
  background-color: rgb(34, 33, 34);
  border-radius: 20px;
}
.warmup-content h2 {
  font-size: 2.5rem;
  color: rgb(214, 200, 180);
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: left;
  padding-left: 2%;
  padding-top: 2%;
}
.warmup-content p {
  font-size: 1.5rem;
  color: rgb(214, 200, 180);
  padding-bottom: 2%;
  text-align: left;
  padding-left: 2%;
}

.wo-content {
  width: 98%;
  height: auto;
  background-color: rgb(34, 33, 34);
  border-radius: 20px;
  padding-bottom: 2%;
}

.wo-content h2 {
  font-size: 2.5rem;
  color: rgb(214, 200, 180);
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: left;
  padding: 2%;
}
.wo-main-list {
  display: flex;
  flex-direction: row;
  gap: 20%;
  font-size: 1.5rem;
  color: rgb(214, 200, 180);
  padding-left: 3%;
  font-weight: bold;
}
.wo-container {
  padding-left: 7%;
  width: 90%;
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr;
  gap: 1%;
}
.wo-content p {
  font-size: 1.5rem;
  color: rgb(214, 200, 180);
  padding-bottom: 2%;
  text-align: left;
}
.cooldown-content {
  width: 98%;
  height: auto;
  background-color: rgb(34, 33, 34);
  border-radius: 20px;
  margin-top: 1.5%;
}
.cooldown-content h2 {
  font-size: 2.5rem;
  color: rgb(214, 200, 180);
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: left;
  padding-left: 2%;
  padding-top: 2%;
}
.cooldown-content p {
  font-size: 1.5rem;
  color: rgb(214, 200, 180);
  padding-bottom: 2%;
  text-align: left;
}
