/*courses*/

.exercise-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  margin: 3rem auto;
}

.exercise-item {
  position: relative; /* Make the container a positioned element */
  display: inline-block; /* Ensure the container wraps around its content */
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  background-color: white;
  margin: 1rem;
  width: 25rem;
  border-radius: 5%;
  transition: transform 0.2s ease;
}
.exercise-item a {
  text-decoration: none;
  color: inherit; /* Inherit the color from the parent element */
  display: block; /* Make the link fill the entire container */
  height: 100%; /* Ensure it takes the full height of the container */
  width: 100%; /* Ensure it takes the full width of the container */
}

.exercise-item:hover {
  transform: scale(1.05);
}
.exercise-img {
  width: 100%;
  object-fit: cover;
  height: auto;
  display: block;
}

.exercise-h1 {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  padding: 1rem;
  margin: 0;
  color: #333;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}
.popularwo {
  display: flex;
  gap: 1rem; /* Space between panels */
  justify-content: center; /* Center the row horizontally */
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  margin: 2rem 0;
}

.popular-panel {
  background-color: rgb(226, 220, 203);
  width: 25rem;
  height: 35rem;
  padding: 1rem 2rem;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.2s ease;
}
.popular-panel:hover {
  transform: scale(1.05);
}
.popular-panel a {
  text-decoration: none;
  font-size: 2rem;
  color: rgb(34, 33, 34);
}

/*exercise*/

#exercise-image {
  width: 100%;
  height: 50rem;
  object-fit: cover;
  object-position: center bottom;
  border-radius: 40px;
}

#exercise-name {
  font-size: 6rem;
  padding-top: 2%;
  color: rgb(34, 33, 34);
  font-weight: bold;
}

.description {
  display: flex;
  gap: 45%;
}
.description h1 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 3%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.description p {
  width: 40rem;
  font-size: 1.3rem;
  padding-top: 2%;
  text-align: left;
}
.exercise-quote {
  border-radius: 40px;
  width: 100%;
  height: auto;
  background-color: rgb(106, 142, 174);
}

#exercise-quote {
  font-size: 3rem;
  text-align: center;
  padding-top: 2%;
  padding: 2%;
  padding-left: 1%;
  padding-right: 1%;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.exercise-benefits {
  border-radius: 40px;
  width: 45%;
  height: auto;
  background-color: rgb(106, 142, 174);
  padding: 2%;
  padding-left: 5%;
}

.exercise-benefits h2 {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 0%;
}
#exercise-benefits {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  margin-top: 1%;
}

#Goal {
  font-size: 3rem;
  text-transform: uppercase;
}
.goals {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 2rem;
  padding-left: 10%;
}

.goalcube {
  max-width: 20rem;

  height: 15rem;
  border-radius: 10%;
  background-color: sandybrown;
}

.goalcube a {
  font-size: 1.5rem;
  text-align: center;
  translate: 20% -50%;
  color: rgb(34, 33, 34);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 0.5rem;
  padding-top: 1rem;
}

/*workout*/
#workout-body {
  background-color: rgb(226, 220, 203);
}

.wohead {
  display: flex;
  flex-direction: row;
  gap: 30%;
}
.wohead button {
  background-color: rgb(34, 33, 34);
  color: white;
  height: 4rem;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 5rem;
  transition: background-color 0.3s ease;
}
#workout-name {
  font-size: 5rem;
  padding-top: 2%;
  color: rgb(34, 33, 34);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0%;
}
#workout-description {
  font-size: 1.5rem;
  color: rgb(34, 33, 34);
  text-align: left;
  margin-top: 0%;
}
.wo-list {
  display: flex;
  flex-direction: row;
  gap: 20%;
  font-size: 1.5rem;
  padding-left: 12%;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 20px;
}
.workout-benefits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 0%;
}
.warmup-content {
  width: 98%;
  height: auto;
  background-color: rgb(34, 33, 34);
  border-radius: 20px;
}
.warmup-content h2 {
  font-size: 2.5rem;
  color: rgb(214, 200, 180);
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: left;
  padding-left: 2%;
  padding-top: 2%;
}
.warmup-content p {
  font-size: 1.5rem;
  color: rgb(214, 200, 180);
  padding-bottom: 2%;
  text-align: left;
  padding-left: 2%;
}

.wo-content {
  width: 98%;
  height: auto;
  background-color: rgb(34, 33, 34);
  border-radius: 20px;
  padding-bottom: 2%;
}

.wo-content h2 {
  font-size: 2.5rem;
  color: rgb(214, 200, 180);
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: left;
  padding: 2%;
}
.wo-main-list {
  display: flex;
  flex-direction: row;
  gap: 20%;
  font-size: 1.5rem;
  color: rgb(214, 200, 180);
  padding-left: 3%;
  font-weight: bold;
}
.wo-container {
  padding-left: 7%;
  width: 90%;
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr;
  gap: 1%;
}
.wo-content p {
  font-size: 1.5rem;
  color: rgb(214, 200, 180);
  padding-bottom: 2%;
  text-align: left;
}
.cooldown-content {
  width: 98%;
  height: auto;
  background-color: rgb(34, 33, 34);
  border-radius: 20px;
  margin-top: 1.5%;
}
.cooldown-content h2 {
  font-size: 2.5rem;
  color: rgb(214, 200, 180);
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: left;
  padding-left: 2%;
  padding-top: 2%;
}
.cooldown-content p {
  font-size: 1.5rem;
  color: rgb(214, 200, 180);
  padding-bottom: 2%;
  text-align: left;
}
