/* GLOBAL STYLES */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.exercise-img {
  width: 100%;
}

/*  TOP, BACKGROUND  */
.background-rect {
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: #222122;
  background-size: cover;
  background-position: center;
  margin-top: 0.8%;
}

/*  EXERCISE TYPE CONTAINER INFO  */
.workout-title {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 8%;

  color: #e2dccb;
  font-size: 1.5rem;
}

.exercise-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 95vw;
  margin: 0 auto;
  gap: 2%;
}

.exercise-item {
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  margin: 1rem;
  width: 25rem;
  height: auto;
  transition: transform 0.2s ease;
}

.exercise-item:hover {
  transform: scale(1.05);
}

.exercise-img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  display: block;
}

/* WORKOUT TITLE */
.workout-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  grid-column: 1 / -1;
  margin-bottom: 1rem;
}

.exercise-container h2 {
  grid-column: 1 / -1; /* spans all grid columns */
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #e2dccb;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

#about-vector {
  width: 3vw;
  height: auto;
}

/*  CREATE WORKOUT  */
#create-background {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 60%;
  height: 20vh;
  margin: -1.8rem auto;
  z-index: 10;

  border-radius: 50px;
  background-color: #e2dccb;
  text-align: center;
}

#create-background h2 {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  margin: 2%;
}

#create-button {
  display: block;
  margin: 0 auto;
  font-size: 1rem;
  padding: 10px 40px;
  font-weight: 700;
  background-color: transparent;
  color: #222122;
  border: 3px solid #222122;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2%;
}

#create-button:hover {
  background-color: #222122;
  color: #e2dccb;
}

/*  SPECIFIC EXERCISE TYPE TEMPLATE*/
#exercise-image {
  width: 100%;
  height: clamp(10vh, 60vh, 700px);
  object-fit: cover;
  object-position: center;
  display: block;
}

#exercise-name {
  font-size: 6rem;
  padding-top: 2%;
  color: rgb(34, 33, 34);
  font-weight: bold;
}

.description {
  display: flex;
  gap: 15%;
}

.description h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 3%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.description p {
  width: 40rem;
  font-size: 1.3rem;
  padding-top: 2%;
  text-align: left;
}

.exercise-quote {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 20vh;
  margin: 1.8rem auto;
  z-index: 10;

  background-color: #e2dccb;
  text-align: center;
}

#exercise-quote {
  text-align: center;
  font-weight: 200;
  font-size: 2rem;
  margin: 2%;
  color: #222122;
  font-weight: bold;
}

.exercise-benefits {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;

  width: 100%;
  height: 45vh;
  margin: 3% auto;
  z-index: 10;

  background-color: #222122;
}

.exercise-benefits h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  justify-content: left;
  color: #e2dccb;
  font-weight: bold;
  padding-left: 4%;
  margin-bottom: 0%;
}

#exercise-benefits {
  list-style: none;
  font-size: 1.8rem;
  color: #e2dccb;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  position: relative;
  z-index: 1;
}

/*  BUTTONS FOR SPECIFIC GOALS  */
.exercises-info {
  position: relative;
}

.goals {
  background-color: #e2dccb;
  align-items: center;
  height: 32vh;
  padding: 2rem;
}

.goalcube {
  max-width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  color: #222122;
  border: 3px solid #222122;
  border-radius: 40px;
  cursor: pointer;
  transition: border 0.3s ease, color 0.3s ease;
  text-align: center;
  text-transform: uppercase;
  margin: 1rem auto;
  box-sizing: border-box;
  word-wrap: break-word;
  text-wrap: balance;
}

.goalcube:hover {
  transform: scale(1.05);
  border: 5px solid #222122;
}

.goalcube a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #222122;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.goals h2 {
  margin-top: 1vh;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3vh;
  font-size: 1.5rem;
  font-weight: bold;
  color: #222122;
}

/*  POPULAR PANEL  */
.popular {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 0.02%;
}

.popular h1 {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 1%;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: #222122;
}

.popular a {
  padding-right: 3%;
  margin-left: auto;
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.popular a .arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

.popular a:hover .arrow {
  transform: translateX(5px);
}

#popular-emoji {
  padding-left: 1%;
  width: 6%;
  height: auto;
}

.panel {
  flex: 1;
  transition: flex 0.5s ease;
  margin: 10px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.popular-panels {
  display: flex;
  width: 98%;
  height: 30em;
  gap: 0.5rem;
  margin: 0 auto;
}

.popular-panels .panel:first-child {
  flex-grow: 3;
}

.popular-panels .panel:first-child .panel-text {
  opacity: 1;
  visibility: visible;
}

#high,
#medium,
#low {
  background-color: rgb(226, 220, 203);
}

.panel:hover {
  flex: 3;
}

.popular-panels:hover .panel {
  flex: 1;
}

.popular-panels:hover .panel:hover {
  flex: 3;
}

.popular-panels .panel {
  position: relative;
  overflow: hidden;
}

.popular-panels .panel::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(229, 225, 209);
  z-index: 1;
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.popular-panels .panel:first-child::after {
  opacity: 0;
}

.popular-panels:hover .panel:first-child::after {
  opacity: 1;
}

.popular-panels:hover .panel:hover::after {
  opacity: 0;
}

.popular-panels:hover .panel .panel-text {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.popular-panels:hover .panel:hover .panel-text {
  opacity: 1;
  visibility: visible;
}

/* responsiveness for the code above*/
@media screen and (max-width: 1090px) {
  .background-rect {
    height: 155vh;
  }
  .exercise-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .exercise-item {
    width: 100%;
    height: auto;
  }
  .popular {
    margin-top: 8vh;
  }
  .description {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #exercise-benefits {
    width: 60vw;
  }
}

/*  WORKOUT SPECIFICS */
#workout-body {
  background-color: rgb(34, 33, 34);
  color: rgb(226, 220, 203);
}

.wo-main-list {
  display: flex;
  flex-direction: row;
  gap: 20%;
  font-size: 1.5rem;
  color: rgb(229, 225, 209, 0.5);
  padding-left: 3%;
  font-weight: bold;
}

.wohead {
  margin-top: 5.8rem;
  display: flex;
  flex-direction: row;
  gap: 3%;
  margin-left: 1.5rem;
}

#add-to-favorite {
  margin-top: 1.8vh;
  background-color: transparent;
  color: rgb(226, 220, 203);
  padding: 1rem 2rem;
  height: 3.5rem;
  border: 3px solid rgb(226, 220, 203);
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 40px;
  cursor: pointer;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#add-to-favorite:hover {
  background-color: rgb(226, 220, 203);
  color: #222122;
}

#workout-name {
  margin-top: 0;
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0%;
}

#workout-description {
  color: rgb(229, 225, 209, 0.5);
  margin-left: 1.5rem;
  font-size: 1.5rem;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 0;
}

.wo-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.workout-benefits {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;

  margin-top: 0%;
  margin-bottom: 1.2rem;
  width: 50rem;
  gap: 15rem;
}

#workout-time {
  font-size: 1rem;
  margin-left: 6.4rem;
}

/*  WARMUP SET */
.warmup-content {
  width: 95%;
  height: auto;
  background-color: rgb(34, 33, 34);
  border-radius: 20px;
  border: 5px solid rgb(226, 220, 203, 0.5);
  margin: 1.2rem auto 0 auto;
}

.warmup-content h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;

  margin-top: 0%;
  margin-bottom: 0%;
  padding-left: 2.5rem;
  padding-top: 2rem;
}

#warm-up2 {
  margin-bottom: 2rem;
}

.warmup-content p {
  width: 80vw;
  font-size: 1.5rem;
  color: rgb(214, 200, 180);
  text-align: left;

  padding-left: 2.5rem;
}

/*  MAIN SET  */
.wo-content {
  width: 95%;
  height: auto;
  background-color: rgb(34, 33, 34);
  border-radius: 20px;
  border: 5px solid rgb(226, 220, 203, 0.5);
  margin: 2.5rem auto 0 auto;
  padding-bottom: 2rem;
}

.wo-content h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;

  margin-top: 0%;
  margin-bottom: 0%;
  padding-left: 2.5rem;
  padding-top: 2rem;
}

.wo-container {
  padding-left: 7%;
  width: 90%;
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr;
  gap: 1%;
}

.wo-content p {
  font-size: 1.5rem;
  color: rgb(214, 200, 180);
  padding-bottom: 2%;
  text-align: left;
}

/*  COOLDOWN SET  */
.cooldown-content {
  width: 95%;
  height: auto;
  background-color: rgb(34, 33, 34);
  border-radius: 20px;
  border: 5px solid rgb(226, 220, 203, 0.5);
  margin: 2.5rem auto 0 auto;
  padding-bottom: 2rem;
}

.cooldown-content h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;

  margin-top: 0%;
  margin-bottom: 0%;
  padding-left: 2.5rem;
  padding-top: 2rem;
}

.cooldown-content p {
  font-size: 1.5rem;
  color: rgb(214, 200, 180);
  padding-bottom: 2%;
  text-align: left;
}

/*  FOOTER SPECIFICS  */
footer {
  background-color: #222122;
  width: 95vw;
  height: 80vh;
  display: block;
  bottom: 0;
  left: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0 auto;
  padding-bottom: 0%;
  margin-top: 30px;
  border: 4px solid #e2dccb;
  border-bottom: none;
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .description p {
    margin-left: 3rem;
    width: auto;
  }
}
