/*courses*/

.exercise-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}

.exercise-item {
  position: relative; /* Make the container a positioned element */
  display: inline-block; /* Ensure the container wraps around its content */
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  background-color: white;
  margin: 1rem;
  width: 20rem;
  border-radius: 5%;
}
.exercise-item a {
  text-decoration: none;
  color: inherit; /* Inherit the color from the parent element */
  display: block; /* Make the link fill the entire container */
  height: 100%; /* Ensure it takes the full height of the container */
  width: 100%; /* Ensure it takes the full width of the container */
}

.exercise-item:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.exercise-img {
  /* width: 100%;
  height: 300px;*/
  width: 20rem;
  object-fit: cover;
  height: auto;
  display: block;
}

.exercise-h1 {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  padding: 1rem;
  margin: 0;
  color: #333;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}
.popularwo {
  display: flex;
  gap: 1rem; /* Space between panels */
  justify-content: center; /* Center the row horizontally */
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  margin: 2rem 0;
}

.popular-panel {
  background-color: #acb863;
  width: 25rem;
  height: 35rem;
  padding: 1rem 2rem;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.2s ease;
}

/*exercise*/

#exercise-name {
  font-size: 3rem;
  padding-top: 2%;
  color: rgb(34, 33, 34);
  font-weight: bold;
}
#exercise-description {
  font-size: 1rem;
  padding-top: 2%;
}

.exercise-quote {
  border-radius: 40px;
  width: 100%;
  height: auto;
  background-color: rgb(106, 142, 174);
  padding-bottom: 20px;
  margin-bottom: 10px;
}

#exercise-quote {
  font-size: 3rem;
  text-align: center;
  padding-top: 2%;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.exercise-benefits {
  border-radius: 40px;
  width: 50%;
  height: auto;
  background-color: rgb(106, 142, 174);
  padding: 2%;
}

.exercise-benefits h2 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: 0%;
}
#exercise-benefits {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  padding-top: 2%;
  display: flex;
  flex-direction: column;
}

.goals {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}

.goalcube {
  width: 11rem;
  height: 11rem;
  border-radius: 10%;
  background-color: sandybrown;
}

.goalcube a {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 26%;
  color: rgb(34, 33, 34);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
