/* GLOBAL STYLES */
* {
  font-family: "Inter", sans-serif;
}

.josefin-sans-font {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

a {
  outline: none;
  text-decoration: none;
}

a:focus {
  outline: none;
}

/* NAVIGATION BAR */
.logo-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 6.1vw;
  top: -4vh;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

#nav-bar-background {
  z-index: 0;
}

#nav-logo {
  width: clamp(30px, 3vw, 80px);
  position: absolute;
  top: 4vh;
  left: 50%;
  transform: translateX(-50%);
  height: 60%;
  pointer-events: auto;
  margin-top: 0.1%;
  z-index: 100;
}

nav {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.nav-bar {
  position: fixed;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  max-width: 100%;
  height: 38px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  z-index: 1000;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}

#logo img {
  max-height: 10px;
  width: auto;
  position: relative;
  top: -10px;
  display: inline-block;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* SEARCH FUNCTION */
.search {
  position: absolute;
  top: 25%;
  left: 64%;
  display: flex;
  align-items: center;
  padding: 8px;
  margin-left: 4vw;
  border-radius: 28px;
  background: #ffffff;
  width: 20vh;
}

.search-input {
  border: none;
  color: rgba(34, 33, 34, 0.7);
  width: 17vh;
}

.search-input:focus {
  outline: none;
  box-shadow: none;
}

input[type="text"] {
  width: 150px;
  border-radius: 28px;
  background: #ffffff;
}

/* PERSON ICON */
.person-icon {
  position: absolute;
  top: 23%;
  right: 9%;
  width: 3vw;
  height: auto;
  fill: white;
  cursor: pointer;
}

.settings-icon {
  position: absolute;
  top: 25%;
  right: 3%;
  width: 3vw;
  height: auto;
  fill: white;
  cursor: pointer;
}

/* OFF SCREEN MENU FUNCTION */
.off-screen-menu {
  position: fixed;
  top: -501%; /* initial pos when hidden */
  left: 0;
  width: 35%;
  height: 280px;
  background: rgba(255, 255, 255, 0.1); /* semi-transparent background */
  backdrop-filter: blur(10px); /* glass effect */
  /* glass effect */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: top 0.3s ease;
  z-index: 999;
  border-radius: 46px;
}

.off-screen-menu a {
  text-decoration: none;
  text-align: justify;
  color: #f6f6f6;
  font-size: 2.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.03em;
  padding-left: 1rem;
  padding-bottom: 1rem;
  display: block;
  list-style-type: none;
  line-height: 0.8;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform: translate(20px, 25px);
}

.off-screen-menu li {
  list-style: none;
}

.off-screen-menu.active {
  top: 105px;
}

nav {
  padding: 1rem;
}

.ham-menu {
  height: 50px;
  width: 50px;
  margin-right: auto;
  margin-left: -160px;
  position: relative;
  z-index: 1001; /* ensure menu is above off-screen menu */
}

.ham-menu span {
  width: 100%;
  height: 5px;
  background-color: #f6f6f6;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s ease;
  z-index: 1003;
}

.ham-menu-button {
  position: absolute;
  top: 0;
  left: 200px;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1002;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(2) {
  top: 75%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* COMPLETE FOOTER */
footer {
  background-color: #222122;
  width: 95vw;
  height: 80vh;
  display: block;
  bottom: 0;
  left: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0 auto;
  padding-bottom: 0%;
  margin-top: 30px;
}

footer p {
  font-weight: 300;
  color: rgba(226, 220, 203, 1);
  font-size: 1rem;
  margin: 0;
}

.navigation-container {
  font-style: italic;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 55vw;
  padding-top: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.nav-column {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.nav-column a {
  font-weight: 300;
  color: rgba(226, 220, 203, 1);
  font-size: 1rem;
  text-decoration: none;
}

.nav-column a:hover {
  color: rgba(166, 163, 149, 1);
}

.navigation-container a:hover {
  color: rgba(166, 163, 149, 1);
}

.contact-footer {
  color: rgba(226, 220, 203, 1);
  margin-top: -23rem;
}

#logo-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 7vw;
  margin: 0 auto;
  margin-bottom: 50vh;
  cursor: pointer;
}

#footer-place {
  position: relative;
  padding-left: 21.5vw;
  top: 8.5vh;
}

#footer-legal {
  position: relative;
  padding-left: 43vw;
  top: 6.5vh;
}

#footer-email {
  position: relative;
  padding-left: 66vw;
  top: 4.5vh;
}

#finalname {
  font-size: 14rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: rgba(166, 163, 149, 1);
  line-height: 0.5;
  display: block;
  bottom: 0;
  transform: translateY(50%);
}

#x-logo {
  padding-left: 80vw;
  width: 2vw;
  height: auto;
  cursor: pointer;
  fill: #e2dccb;
}

#facebook-logo {
  width: 2vw;
  height: auto;
  cursor: pointer;
  fill: #e2dccb;
}

#x-logo:hover,
#facebook-logo:hover,
#logo-footer:hover {
  fill: rgba(166, 163, 149, 1);
}

/*  BACK TO TOP LOGIC  */
#backToTop {
  width: 3.5vw;
  height: 3.5vw;
  min-width: 3.5vw;
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: opacity 0.4s ease;
  opacity: 0;
  z-index: 1000;
  visibility: hidden;
  pointer-events: none;
}

#backToTop.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

#arrow-up {
  width: 2vw;
  height: auto;
}

#search-page {
  margin-top: 10rem;
  margin-left: 5rem;
}
#search-page h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
}

#search-page a {
  margin: 0 auto;
  font-size: 1rem;
  padding: 10px 40px;
  font-style: normal;
  font-weight: 700;
  background-color: transparent;
  color: rgb(34, 33, 34);
  border: 3px solid rgb(34, 33, 34);
  border-radius: 40px;
  cursor: pointer;
}

#settings {
  margin-top: 10rem;
  margin-left: 5rem;
}
