/* GLOBAL STYLES */
* {
  font-family: "Inter", sans-serif;
}

.josefin-sans-font {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

a {
  outline: none;
  text-decoration: none;
}

a:focus {
  outline: none;
}

/* NAVIGATION BAR */
.logo-wrapper {
  width: 100%;
  top: clamp(-5vh, -3vh, -1vh);
  left: 50%;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  transform: translateX(-50%);
  pointer-events: none;

  z-index: 1;
}

#nav-bar-background {
  z-index: 0;
}

#nav-logo {
  width: 54px;
  position: absolute;
  top: clamp(2vh, 2.5vh, 3vh);
  left: 50%;
  transform: translateX(-50%);
  height: 60%;
  pointer-events: auto;
  margin-top: 0.1%;
  z-index: 100;
}

nav {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  gap: 2rem;
  flex-grow: 1;
  justify-content: center;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.nav-bar {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: clamp(280px, 75%, 100%);
  height: 53px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  z-index: 1000;
  display: flex;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  border-radius: 100px;

  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 2rem;
  gap: 1rem;
}

.nav-bar > * {
  min-width: 0;
}

#logo img {
  max-height: 10px;
  width: auto;
  position: relative;
  top: -10px;
  display: inline-block;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* SEARCH FUNCTION */
.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.search {
  margin-left: 25rem;
  display: flex;
  align-items: center;
  padding-left: 0.4rem;
  background: white;
  border-radius: 28px;
}

.search-input {
  border: none;
  background: transparent;
  width: 100%;
  color: #222;
}

.search-input:focus {
  outline: none;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #222;
  font-size: 1.5rem;
}

.search-button:focus {
  outline: 2px solid #aaa;
}

/* PERSON ICON */
.person-icon {
  position: absolute;
  top: 23%;
  right: 9%;
  width: 3vw;
  height: auto;
  fill: white;
  cursor: pointer;
}

.settings-icon {
  position: absolute;
  top: 25%;
  right: 3%;
  width: 3vw;
  height: auto;
  fill: white;
  cursor: pointer;
}

/* OFF SCREEN MENU FUNCTION */
.off-screen-menu {
  position: fixed;
  top: -501%; /* initial pos when hidden */
  left: 0;
  width: 370px;
  height: 240px;
  background: rgba(255, 255, 255, 0.1); /* semi-transparent background */
  backdrop-filter: blur(10px); /* glass effect */
  /* glass effect */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: top 0.3s ease;
  z-index: 999;
  border-radius: 46px;
}

.off-screen-menu a {
  text-decoration: none;
  text-align: justify;
  color: #f6f6f6;
  font-size: 2.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0.03em;
  padding-left: 1rem;
  padding-bottom: 1rem;
  display: block;
  list-style-type: none;
  line-height: 0.8;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform: translate(20px, 25px);
}

.off-screen-menu li {
  list-style: none;
}

.off-screen-menu.active {
  top: 105px;
}

nav {
  padding: 1rem;
}

.ham-menu {
  height: 50px;
  width: 50px;
  margin-right: auto;
  margin-left: -160px;
  position: relative;
  z-index: 1001;
}

.ham-menu span {
  width: 100%;
  height: 5px;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s ease;
  z-index: 1003;
}

.ham-menu-button {
  position: absolute;
  top: -0.1rem;
  left: 12rem;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1002;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(2) {
  top: 75%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/*  BACK BTN  */
.nav-controls {
  display: flex;
  align-items: center;
  gap: 25rem;
  padding: 0.5rem;
}

#back-button {
  position: fixed;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 28px;

  font-size: 1.1rem;
  cursor: pointer;
  transition: border-color 0.4s ease, border-width 0.4s ease,
    background-color 0.3s, color 0.3s;
  display: block;

  padding: 0.3rem 1.4rem;
  margin-top: 0.7rem;
  margin-left: 0;
  margin-right: auto;

  left: 16%;
  top: 14%;
}

#back-button:hover {
  transform: scale(1.05);
  border: 3px solid white;
}

/* COMPLETE FOOTER */
footer {
  background-color: #222122;
  width: 95vw;
  height: 80vh;
  display: block;
  bottom: 0;
  left: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0 auto;
  padding-bottom: 0%;
  margin-top: 30px;
}

footer p {
  font-weight: 300;
  color: rgba(226, 220, 203, 1);
  font-size: 1rem;
  margin: 0;
}

.navigation-container {
  font-style: italic;
  text-transform: uppercase;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 55vw;
  padding-top: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.nav-column {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.nav-column a {
  font-weight: 300;
  color: rgba(226, 220, 203, 1);
  font-size: 1rem;
  text-decoration: none;
}

.nav-column a:hover {
  color: rgba(166, 163, 149, 1);
}

.navigation-container a:hover {
  color: rgba(166, 163, 149, 1);
}

#logo-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 7vw;
  margin: 0 auto;
  margin-bottom: 50vh;
  cursor: pointer;
}

.contact-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10rem;
  color: rgba(226, 220, 203, 1);
  margin-top: -23rem;
  flex-wrap: wrap;
  padding: 1rem 5vw;
}

.contact-footer p {
  margin: 0;
  font-size: 1.8rem;
}

.contact-footer a svg {
  width: 2vw;
  height: auto;
  cursor: pointer;
  fill: #e2dccb;
  transition: transform 0.3s, fill 0.3s;
}

.contact-footer a:hover svg {
  fill: rgba(166, 163, 149, 1);
  transform: scale(1.1);
}

#footer-place {
  padding-left: 8vw;
}

#finalname {
  font-size: 14rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: rgba(166, 163, 149, 1);
  line-height: 0.5;
  display: block;
  bottom: 0;
  transform: translateY(50%);
}

#x-logo {
  padding-left: 10vw;
  width: 2vw;
  height: auto;
  cursor: pointer;
  fill: #e2dccb;
}

#facebook-logo {
  width: 2vw;
  height: auto;
  cursor: pointer;
  fill: #e2dccb;
}

#x-logo:hover,
#facebook-logo:hover,
#logo-footer:hover {
  fill: rgba(166, 163, 149, 1);
}

/*  BACK TO TOP LOGIC  */
#backToTop {
  width: 3.5vw;
  height: 3.5vw;
  min-width: 3.5vw;
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: opacity 0.4s ease;
  opacity: 0;
  z-index: 1000;
  visibility: hidden;
  pointer-events: none;
}

#backToTop.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

#arrow-up {
  width: 2vw;
  height: auto;
}

#search-page {
  margin-top: 10rem;
  margin-left: 5rem;
}
#search-page h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
}

#search-page a {
  margin: 0 auto;
  font-size: 1rem;
  padding: 10px 40px;
  font-style: normal;
  font-weight: 700;
  background-color: transparent;
  color: rgb(34, 33, 34);
  border: 3px solid rgb(34, 33, 34);
  border-radius: 40px;
  cursor: pointer;
}

#settings {
  margin-top: 20%;
  margin-left: 5%;
}

.right-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*  MEDIA QUERIES / responsivenesss  */
@media (max-width: 600px) {
  .explore,
  .popular {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .explore-panels,
  .popular-panels {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }

  .explore a,
  .popular a {
    padding-top: 1rem;
    font-size: 0.5rem;
  }

  .panel {
    flex: none;
    width: 100%;
  }

  .explore-panels:hover .panel,
  .popular-panels:hover .panel {
    flex: none;
  }

  .panel:hover {
    flex: none;
  }

  .panel .panel-text {
    opacity: 1;
    visibility: visible;
  }

  .popular-panels {
    height: 60vh;
  }

  #about-vector {
    width: 2rem !important;
    padding-bottom: 2rem;
  }

  #popular-emoji {
    width: 5rem !important;
  }

  #nav-bar-background {
    margin-top: 0.5rem;
  }

  #nav-logo {
    width: 2.5rem;
  }

  .nav-bar {
    width: 100%;
    height: 4.7rem;
    gap: 2rem;
  }

  .ham-menu {
    left: -1rem;
  }

  #back-button {
    margin-left: 1rem;
    border: 0;
  }

  .settings-icon {
    position: relative;
  }

  .right-controls {
    padding-right: 7rem !important;
  }

  .navigation-container {
    display: block;
    padding-top: 3vh;
  }

  footer {
    height: 30vh;
  }

  .contact-footer {
    gap: 1rem;
    justify-content: end;
  }

  #finalname {
    font-size: 6rem;
    width: 100%;
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    margin-top: auto;
  }

  #logo-footer {
    margin-bottom: 23vh;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .nav-bar {
    width: 100%;
  }

  .settings-icon {
    position: relative;
  }

  .right-controls {
    padding-right: 10rem !important;
  }

  #nav-bar-background {
    margin-top: 0.1rem;
  }

  #back-button {
    margin-left: 1rem;
    border: 0;
  }

  .nav-links {
    display: none;
  }

  .off-screen-menu {
    display: flex;
  }

  .ham-menu {
    display: block;
  }

  #logo-footer {
    margin-bottom: 30vh;
  }

  #footer-place {
    padding-left: 0vw;
    top: 8.5vh;
  }

  #finalname {
    font-size: 8rem;
    width: 100%;
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    margin-top: auto;
  }

  footer {
    height: 30vh;
  }

  .contact-footer {
    align-items: center;
    gap: 1rem;
    margin-top: -30rem;
    margin-left: 5rem;
  }

  .navigation-container {
    padding-top: 4vh;
    gap: 12rem;
  }

  #popular-emoji {
    width: 10vw !important;
  }

  .explore,
  .popular {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .explore-panels,
  .popular-panels {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }

  .explore a,
  .popular a {
    padding-top: 1rem;
    font-size: 0.5rem;
  }

  .explore h1,
  .popular h1 {
    padding-top: 2rem;
    font-size: 2rem !important;
  }

  .panel {
    flex: none;
    width: 100%;
  }

  .explore-panels:hover .panel,
  .popular-panels:hover .panel {
    flex: none;
  }

  .panel:hover {
    flex: none;
  }

  .panel .panel-text {
    opacity: 1;
    visibility: visible;
  }

  .popular-panels {
    height: 60vh;
  }

  #about-vector {
    width: 3rem !important;
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 968px) {
  .joinrect h2 {
    font-size: 3.3rem !important;
  }

  .joinrect p {
    font-size: 1.8rem !important;
    padding-bottom: 2rem !important;
  }

  .joinrect button {
    font-size: 1.7rem !important;
  }

  .panel h3 {
    margin-top: 10rem !important;
    font-size: 3rem !important;
  }

  .panel p {
    font-size: 1.4rem !important;
  }

  #nav-bar-background {
    margin-top: 0.3rem;
  }

  #about-vector {
    width: 6vw !important;
    padding-bottom: 1vh;
  }

  .nav-links {
    display: none;
  }

  .off-screen-menu {
    display: flex;
  }

  .ham-menu {
    display: block;
  }

  .search {
    margin-top: 1rem;
    margin-left: 8rem;
    opacity: 1;
    width: 24vw;
    pointer-events: auto;
  }

  .off-screen-menu.active {
    top: 100px;
  }

  .off-screen-menu {
    width: 20rem;
    left: 5rem;
  }

  .off-screen-menu a {
    font-size: 2rem;
  }

  .nav-bar {
    width: 100%;
  }

  .person-icon {
    position: absolute;
    top: 23%;
    left: 70%;
  }

  .settings-icon {
    position: absolute;
    top: 25%;
    left: 85%;
  }

  #back-button {
    border-color: rgba(255, 255, 255, 0);
    font-size: 1rem;
    top: 13%;
    left: 15%;
  }

  .ham-menu span {
    left: 5%;
  }

  #footer-place {
    padding-left: 0vw;
    top: 8.5vh;
  }

  #finalname {
    font-size: 8rem;
    width: 100%;
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    margin-top: auto;
  }

  footer {
    height: 50vh;
  }

  .contact-footer {
    margin-top: -12vh;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
  }

  .navigation-container {
    padding-top: 5vh;
    gap: 45vw;
  }

  #logo-footer {
    margin-bottom: 12vh;
  }

  .explore-panels {
    height: 28vh;
  }

  .popular-panels {
    height: 35vh;
  }
}

@media screen and (min-width: 969px) and (max-width: 1819px) {
  .joinrect p {
    font-size: 1rem !important;
    padding-bottom: 2rem !important;
  }

  .joinrect button {
    font-size: 1rem !important;
  }

  .panel h3 {
    margin-top: 18rem !important;
    font-size: 3rem !important;
  }

  .panel p {
    font-size: 1.4rem !important;
  }

  #nav-bar-background {
    margin-top: -1rem;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .search {
    margin-left: 27rem;
    opacity: 1;
    width: 14vw;
    pointer-events: auto;
    top: 25%;
  }

  #about-vector {
    width: 4vw !important;
    padding-bottom: 1vh;
  }

  #logo-footer {
    margin-bottom: 50vh;
  }

  .contact-footer {
    gap: 4rem;
    padding-top: 18vh;
  }

  footer {
    height: 100vh;
  }

  .navigation-container {
    padding-top: 10vh;
    gap: 50vw;
  }

  .explore-panels {
    height: 27vh;
  }

  .popular-panels {
    height: 70vh;
  }
}

@media screen and (min-width: 1820px) {
  .joinrect h2 {
    font-size: 3.3rem !important;
  }

  .joinrect p {
    font-size: 1.8rem !important;
    padding-bottom: 2rem !important;
  }

  .joinrect button {
    font-size: 1.7rem !important;
  }

  .panel h3 {
    margin-top: 28rem !important;
    font-size: 3rem !important;
  }

  .panel p {
    font-size: 1.4rem !important;
  }

  .explore-panels {
    height: 60vh;
  }

  .popular-panels {
    height: 50vh;
  }

  .contact-footer {
    gap: 8rem;
  }

  footer {
    height: 60vh;
  }

  .navigation-container {
    padding-top: 8vh;
  }

  #logo-footer {
    margin-bottom: 35vh;
  }

  #nav-bar-background {
    margin-top: 0.2rem;
  }

  .search {
    margin-left: 45rem;
  }
}
