/*  NAV  */
#account-home-logo {
  width: 5rem;
  height: auto;
  position: fixed;

  top: 2vh;
  left: 1vw;
  z-index: 10;
}

#nav-bar-background {
  width: 5rem;
  height: auto;
  position: fixed;

  top: 10rem;
  left: 1vw;
  z-index: 5;
}

#goal-button {
  width: 5rem;
  height: auto;
  position: fixed;

  top: 8rem;
  left: 1vw;
  z-index: 5;
}

#home-nav-bar {
  width: 3rem;
  height: auto;
  position: fixed;

  top: 15rem;
  left: 2vw;
  z-index: 5;
}

#favorites-logo {
  width: 3rem;
  height: auto;
  position: fixed;

  top: 20.6rem;
  left: 2vw;
  z-index: 5;
}

nav,
#user-name h1 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  text-transform: capitalize;
}

nav h2 {
  margin: 0;
  margin-top: -1rem;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: capitalize;
}

#favorite-container {
  margin-top: 2rem;
  background-color: rgb(212, 193, 229);
  width: 98%;
  height: auto;
  padding: 2%;
}

#saved-container {
  margin-top: 2rem;
  background-color: rgb(212, 193, 229);
  width: 98%;
  height: auto;
  padding: 2%;
}

.favorite-item h3 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 2%;
}

.remove-favorite {
  margin: 0 auto;
  font-size: 1rem;
  padding: 10px 40px;
  font-style: normal;
  font-weight: 700;
  background-color: transparent;
  color: rgb(34, 33, 34);
  border: 3px solid rgb(34, 33, 34);
  border-radius: 40px;
  cursor: pointer;
}
.remove-favorite:active {
  transform: scale(0.95);
}

.remove-saved {
  margin: 0 auto;
  font-size: 1rem;
  padding: 10px 40px;
  font-style: normal;
  font-weight: 700;
  background-color: transparent;
  color: rgb(34, 33, 34);
  border: 3px solid rgb(34, 33, 34);
  border-radius: 40px;
  cursor: pointer;
}
.remove-saved:active {
  transform: scale(0.95);
}

#saved-container p {
  color: royalblue;
}
