/*  NAV  */
#account-home-logo {
  width: 5rem;
  height: auto;
  position: fixed;

  top: 2vh;
  left: 1vw;
  z-index: 10;
}

#nav-bar-background {
  width: 5rem;
  height: auto;
  position: fixed;

  top: 10rem;
  left: 1vw;
  z-index: 5;
}

#goal-button {
  width: 5rem;
  height: auto;
  position: fixed;

  top: 8rem;
  left: 1vw;
  z-index: 5;
}

#home-nav-bar {
  width: 3rem;
  height: auto;
  position: fixed;

  top: 15rem;
  left: 2vw;
  z-index: 5;
}

#favorites-logo {
  width: 3rem;
  height: auto;
  position: fixed;

  top: 20.6rem;
  left: 2vw;
  z-index: 5;
}

nav,
#user-name h1 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  text-transform: capitalize;
}

nav h2 {
  margin: 0;
  margin-top: -1rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.search {
  background-color: #e5e1d1;
  position: absolute;
  top: 2rem;
  right: 0;
  margin: 0;
}

.search-input {
  background-color: #e5e1d1;
}

#join-button {
  margin-top: 0.4rem;
  margin-left: 39rem;
  display: block;
  float: right;
  font-size: 1rem;
  padding: 8px 40px;
  font-style: normal;
  font-weight: 700;
  background-color: transparent;
  color: #222122;
  border: 3px solid #222122;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#join-button:hover {
  background-color: #222122;
  color: white;
}

.settings-icon {
  top: 1.8rem;
  width: 3rem;
  height: auto;

  float: right;
  margin-right: -0.2rem;
}

/*  FAVORITES  */
#favorite-container {
  border-radius: 20px;
  margin-left: 7rem;
  margin-top: 2rem;
  background-color: rgba(226, 220, 203, 1);
  width: 85%;
  height: auto;
  padding: 2%;
}

#saved-container {
  border-radius: 20px;
  margin-left: 7rem;
  margin-top: 2rem;
  background-color: rgba(226, 220, 203, 1);
  width: 85%;
  height: auto;
  padding: 2%;
}

.titles {
  font-size: 2.3rem;
  margin-left: 7rem;
  margin-top: 3rem;
}

.favorite-item h3 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 2%;
}

.remove-favorite {
  margin: 0 auto;
  font-size: 1rem;
  padding: 10px 40px;
  font-style: normal;
  font-weight: 700;
  background-color: transparent;
  color: rgb(34, 33, 34);
  border: 3px solid rgb(34, 33, 34);
  border-radius: 40px;
  cursor: pointer;
}
.remove-favorite:active {
  transform: scale(0.95);
}

.remove-saved {
  margin: 0 auto;
  font-size: 1rem;
  padding: 10px 40px;
  font-style: normal;
  font-weight: 700;
  background-color: transparent;
  color: rgb(34, 33, 34);
  border: 3px solid rgb(34, 33, 34);
  border-radius: 40px;
  cursor: pointer;
}
.remove-saved:active {
  transform: scale(0.95);
}

#saved-container p {
  color: #333;
}

/*  CONTENT  */
.activity-container {
  display: flex;
  margin-left: 7rem;
  gap: 4rem;
}

.goals-and-latest-workout {
  display: flex;
  margin-left: 7rem;
  gap: 4rem;
}

/*  GOALS ETC.  */
.stack {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
}

.stack a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  text-decoration: none;
  color: #e5e1d1;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

.stack a:hover {
  background-color: #ddd;
  transform: scale(1.05);
}

#favorite-button {
  background-color: #de9a47;
}

#goals-button {
  background-color: #839fb5;
}

#inspo-button {
  background-color: #928d51;
}

/*  LATEST WO PANEL  */
.latest-wo-panel {
  background-color: rgba(226, 220, 203, 1);
  border-radius: 20px;
  padding: 1.5rem;
  width: 54rem;
  margin-top: 1rem;
}

.your-latest-workout {
  width: 60vw;
}

.your-latest-workout h1 {
  text-transform: uppercase;
  font-size: 2rem;
}

#latest.panel {
  background-color: rgba(226, 220, 203, 1);
  padding: 1rem;
  border-radius: 8px;
}

#latest.panel h3 {
  margin-top: 0.2rem;
  margin-bottom: 1.8rem;
  font-size: 2rem;
  color: rgb(34, 33, 34);
}

#latest h2 {
  margin-top: 0;
  font-size: 2.3rem;
  color: #333;
}

#latest p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

#latest ul {
  list-style: disc inside;
  padding-left: 1rem;
  margin: 0;
}

/*responsive*/
@media (max-width: 1200px) {
  .activity-container,
  .goals-and-latest-workout {
    flex-direction: column;

    margin-left: 2rem;
    gap: 2rem;
  }
  .stack {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}
