/* GLOBAL STYLES */
* {
  font-family: "Inter", sans-serif;
}

.josefin-sans-font {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #222122;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* NAVIGATION BAR */
.logo-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  top: -4vh;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

#nav-bar-background {
  z-index: 0;
}

#nav-logo {
  position: absolute;
  top: 5vh;
  left: 50.5%;
  transform: translateX(-50%);
  width: 3vw;
  height: auto;
  pointer-events: auto;
  margin-top: -5px;
  z-index: 100;
}

nav {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.nav-bar {
  position: fixed;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 80%;
  height: 38px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1000;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}

#logo img {
  max-height: 160px;
  width: auto;
  position: relative;
  top: -10px;
  display: inline-block;
}

/* SEARCH FUNCTION */
.search {
  position: absolute;
  top: 2.7vh;
  left: 60%;
  display: flex;
  align-items: center;
  padding: 8px;
  margin-left: 4vw;
  border-radius: 28px;
  background: #ffffff;
  width: 25vh;
}

.search-input {
  border: none;
  color: rgba(34, 33, 34, 0.7);
}

.search-input:focus {
  outline: none;
  box-shadow: none;
}

input[type="text"] {
  width: 150px;
  border-radius: 28px;
  background: #ffffff;
}

/* PERSON ICON */
.person-icon {
  position: absolute;
  top: 2.5vh;
  right: 9%;
  width: 4vw;
  height: auto;
  fill: white;
  cursor: pointer;
}

.settings-icon {
  position: absolute;
  top: 2.7vh;
  right: 3%;
  width: 4vw;
  height: auto;
  fill: white;
  cursor: pointer;
}

/* WEB HERO */
#inspo-hero {
  position: relative;
  width: 95vw;
  height: auto;
  display: block;
  margin: 0 auto;
  z-index: 1;
}

.background-section {
  position: relative;
  background-image: url("/img/scaling-mountains 1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -20vh;
  width: 100%;
  height: 2250px;
}

h1 {
  font-style: black;
  font-weight: 900;
  font-size: 48px;
  color: #222122;
  position: relative;
  z-index: 10;
  top: 30vh;
  text-align: center;
}

.larger-text-title {
  font-style: black;
  font-weight: 900;
  font-size: 96px;
}

p {
  position: relative;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
  z-index: 10;
  width: 60%;
  max-width: 600px;
}

.subheadings {
  font-weight: 800;
}

.img-p-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#indoor-climbing-bw {
  width: 50%;
  height: auto;
}

#running-bw {
  margin-top: -10vh;
  display: block;
}

#climbing-bw,
#sparring-bw {
  width: 100%;
  max-width: 100vw;
}

.content {
  width: 95vw;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.image-row {
  display: flex;
  gap: 2rem;
}

/*off screen menu*/
.off-screen-menu {
  position: fixed;
  top: -501%; /* Initial position when hidden */
  left: 0;
  width: 40%;
  height: 280px;
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Glass effect */
  -webkit-backdrop-filter: blur(10px); /* Glass effect for WebKit browsers */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Optional: Adds shadow for depth */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  justify-content: flex-start; /* Align items to the top */
  transition: top 0.3s ease; /* Smooth transition */
  z-index: 999;
  border-radius: 46px; /* Optional: Rounded corners */
}

.off-screen-menu a {
  text-decoration: none;
  text-align: justify;
  color: #f6f6f6;
  font-size: 2.8rem;
  font-family: "Josefin Sans", sans-serif;
  padding-bottom: 1rem;
  display: block;
  list-style-type: none;
  line-height: 0.8;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform: translate(
    20px,
    30px
  ); /* Moves the text 20px to the right and 30px down */
}

.off-screen-menu li {
  list-style: none;
}

.off-screen-menu.active {
  top: 105px;
}

nav {
  padding: 1rem;
}

.ham-menu {
  height: 50px;
  width: 50px;
  margin-right: auto;
  margin-left: -160px;
  position: relative;
  z-index: 1001; /* Ensure the hamburger menu is above the off-screen menu */
}

.ham-menu span {
  width: 100%;
  height: 5px;
  background-color: #f6f6f6;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Adjust for centering */
  transition: 0.3s ease;
  z-index: 1003;
}

.ham-menu-button {
  position: absolute;
  top: 0;
  left: 200px; /* Adjust to change x position */
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1002;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(2) {
  top: 75%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* COMPLETE FOOTER */
footer {
  background-color: #222122;
  width: 95vw;
  height: 80vh;
  display: block;
  bottom: 0;
  left: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0 auto;
  padding-bottom: 0%;
  margin-top: 30px;
  border: 4px solid #e2dccb;
  border-bottom: none;
}

footer p {
  font-weight: 300;
  color: rgba(226, 220, 203, 1);
  font-size: 1rem;
  margin: 0;
}

.navigation-container {
  font-style: italic;
  text-transform: uppercase;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 55vw;
  padding-top: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.nav-column {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.nav-column a {
  font-weight: 300;
  color: rgba(226, 220, 203, 1);
  font-size: 1rem;
  text-decoration: none;
}

.nav-column a:hover {
  color: rgba(166, 163, 149, 1);
}

.navigation-container a:hover {
  color: rgba(166, 163, 149, 1);
}

.contact-footer {
  color: rgba(226, 220, 203, 1);
  margin-top: -23rem;
}

#logo-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 7vw;
  margin: 0 auto;
  margin-bottom: 50vh;
  cursor: pointer;
}

#footer-place {
  position: relative;
  padding-left: 21.5vw;
  top: 8.5vh;
}

#footer-legal {
  position: relative;
  padding-left: 43vw;
  top: 6.5vh;
}

#footer-email {
  position: relative;
  padding-left: 66vw;
  top: 4.5vh;
}

#finalname {
  font-size: 15rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: rgba(166, 163, 149, 1);
  line-height: 0.5;
  display: block;
  bottom: 0;
  transform: translateY(50%);
}

#x-logo {
  padding-left: 80vw;
  width: 2vw;
  height: auto;
  cursor: pointer;
  fill: #e2dccb;
}

#facebook-logo {
  width: 2vw;
  height: auto;
  cursor: pointer;
  fill: #e2dccb;
}

#x-logo:hover,
#facebook-logo:hover,
#logo-footer:hover {
  fill: rgba(166, 163, 149, 1);
}

/*  BACK TO TOP LOGIC  */
#backToTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: opacity 0.4s ease;
  opacity: 0;
  z-index: 1000;
  visibility: hidden;
  pointer-events: none;
}

#backToTop.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

#arrow-up {
  width: 2vw;
  height: auto;
}

/* FEATURES */
.intro h2,
.features h3,
.team h3 {
  color: #111;
  margin-bottom: 15px;
}

.intro p,
.team p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.features ul {
  list-style: none;
  padding-left: 0;
}

.features li {
  margin-bottom: 10px;
  font-size: 1rem;
}

@media screen and (max-width: 1380px) {
  .search {
    position: absolute;
    width: max-content;
    display: flex;
    background: transparent;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #ffffff;
    width: 19vh;
  }

  .search-input {
    border: none;
    width: 12vh;
  }

  .search-input:focus {
    outline: none; /* Ensures no outline appears on focus */
    box-shadow: none; /* Removes any focus shadow applied by the browser */
  }
}

@media (max-width: 768px) {
  .nav-bar {
    padding: 0.8rem; /* Adjust padding for smaller screens */
    height: 50px; /* Reduce height on smaller screens */
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
