* {
  font-family: "Inter", sans-serif;
}
nav {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.nav-bar {
  position: fixed;
  top: 7px; /* Adds space between the navbar and the top of the screen */
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1500px; /* Optional: Set a maximum width for larger screens */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1000; /* Ensures the navbar is above the video */
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Adds a shadow for the hover effect */
  border-radius: 100px; /* Optional: Adds rounded corners */
}

#logo {
  position: absolute; /*Set to fixed when we want it to not move when scrolling */
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

#logo img {
  max-height: 160px;
  width: auto;
}

.body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.content video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 40px;
}

.content img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 40px;
}

/*off screen menu*/
.off-screen-menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 20%;
  height: 50%;
  background-color: #222122;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: top 0.3s ease;
  z-index: 999;
}

.off-screen-menu.active {
  top: 0;
}

nav {
  padding: 1rem;
}

.ham-menu {
  height: 50px;
  width: 50px;
  margin-right: auto;
  position: relative;
}

.ham-menu span {
  width: 100%;
  height: 5px;
  background-color: #e2dccb;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 200px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(2) {
  top: 75%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* info, about our cause */
.joinrect {
  width: 100%;
  height: 20rem;
  left: 437px;
  top: 1321px;
  background-color: rgba(166, 163, 149, 1);
  border-radius: 40px;
}

.joinrect h2 {
  font-size: 2rem;
  text-align: center;
  padding-top: 2rem;
}
.joinrect p {
  font-size: 1.2rem;
  width: 60%;
  text-align: center;
  padding: 1rem;
}
.joinrect button {
  display: block;
  margin: 0 auto;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: rgba(166, 163, 149, 1);
  color: black;
  border: 3px solid #222122;
  border-radius: 40px;
  cursor: pointer;
}

footer {
  background-color: #222122;
  width: 100%;
  text-align: center;
  padding: 20px;
  padding-bottom: 0%;
  margin-top: 30px;
}
footer p {
  color: rgba(226, 220, 203, 1);
  font-size: 18px;
  margin: 0;
  text-transform: uppercase;
  padding: 2px;
}
.end-links {
  display: flex;
  gap: 75%;
}
.footer-left {
  text-align: left;
  padding-left: 3rem;
  padding-top: 2rem;
}
.footer-right {
  text-align: right;
  padding-right: 3rem;
  padding-top: 2rem;
}
footer img {
  width: 5rem;
  height: auto;
  margin: 10px;
}

#finalname {
  font-size: 15rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-bottom: 0%;
  color: rgba(226, 220, 203, 1);
}

/*about page*/

.about {
  max-width: 800px;
  padding: 30px;
  margin: 6% 10%;
  border-radius: 12px;
}

.about img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.intro h2,
.features h3,
.team h3 {
  color: #111;
  margin-bottom: 15px;
}

.intro p,
.team p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.features ul {
  list-style: none;
  padding-left: 0;
}

.features li {
  margin-bottom: 10px;
  font-size: 1rem;
}
