/* GLOBAL STYLES */
* {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

/* NAVIGATION BAR */
nav {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.nav-bar {
  position: fixed;
  top: 7px; /* Adds space between the navbar and the top of the screen */
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 60px;
  max-width: 1500px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1000; /* Ensures the navbar is above the "video" */
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}

#logo {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

#logo img {
  max-height: 160px;
  width: auto;
  position: relative;
  top: -10px;
  display: inline-block;
}

.search {
  --padding: 14px;
  left: 920px;
  position: absolute;
  width: max-content;
  display: flex;
  align-items: center;
  padding: var(--padding);
  border-radius: 28px;
  background: #ffffff;
  width: 280px;
}

.search-input {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #333333;
  margin-left: var(--padding);
  outline: none;
  border: none;
  background: transparent;
  width: 200px;
  flex: 1;
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.material-symbols-outlined {
  font-size: 24px;
  color: #333333;
  cursor: pointer;
  transition: all 0.3s ease;
}

.settings-icon {
  scale: 2;
  position: absolute;
  left: 1400px;
  color: #f6f6f6;
  top: 35px;
}

.person-icon {
  scale: 2;
  position: absolute;
  left: 1300px;
  color: #f6f6f6;
  top: 35px;
}

.body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content img {
  width: 95vw;
  height: auto;
  display: block;
  border-radius: 20px;
  margin: 0 auto;
}

/* WEB HERO */
#home-video {
  width: 95vw;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: 40px;
}

/*off screen menu*/
.off-screen-menu {
  position: fixed;
  top: -501%; /* Initial position when hidden */
  left: 0;
  width: 30%;
  height: 300px;
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Glass effect */
  -webkit-backdrop-filter: blur(10px); /* Glass effect for WebKit browsers */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Optional: Adds shadow for depth */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  justify-content: flex-start; /* Align items to the top */
  transition: top 0.3s ease; /* Smooth transition */
  z-index: 999;
  border-radius: 46px; /* Optional: Rounded corners */
}

.off-screen-menu li {
  list-style: none;
}

.off-screen-menu a {
  text-decoration: none; /* Removes the underline */
  color: #f6f6f6; /* Changes the text color */
  font-size: 3rem; /* Adjusts the font size */
  font-family: "Inter", sans-serif; /* Optional: Ensures consistent font */
  display: block; /* Makes the links block-level for better spacing */
  padding-left: 20px;
  padding-top: 33px;
  margin-top: -30px;
}

.off-screen-menu.active {
  top: 105px;
}

nav {
  padding: 1rem;
}

.ham-menu {
  height: 50px;
  width: 50px;
  margin-right: auto;
  margin-left: -160px;
  position: relative;
  z-index: 1001; /* Ensure the hamburger menu is above the off-screen menu */
}

.ham-menu span {
  width: 100%;
  height: 5px;
  background-color: #f6f6f6;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Adjust for centering */
  transition: 0.3s ease;
  z-index: 1003;
}

.ham-menu-button {
  position: absolute;
  top: 0;
  left: 200px; /* Adjust to change x position */
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1002;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(2) {
  top: 75%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* ABOUT */
.joinrect h2 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 1%;
  padding-top: 1rem;
}

.joinrect p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.joinrect button {
  display: block;
  margin: 0 auto;
  font-size: 1rem;
  padding: 10px 40px;
  font-style: normal;
  font-weight: 700;
  background-color: transparent;
  color: black;
  border: 3px solid #222122;
  border-radius: 40px;
  cursor: pointer;
}

#about-vector {
  padding-top: 2%;
  width: 3vw;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* COMPLETE FOOTER */
footer {
  background-color: #222122;
  width: 95vw;
  height: 80vh;
  display: block;
  bottom: 0;
  left: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0 auto;
  padding-bottom: 0%;
  margin-top: 30px;
}

footer p {
  font-weight: 300;
  color: rgba(226, 220, 203, 1);
  font-size: 1rem;
  margin: 0;
}

.navigation-container {
  font-style: italic;
  text-transform: uppercase;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 55vw;
  padding-top: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.nav-column {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.nav-column a {
  font-weight: 300;
  color: rgba(226, 220, 203, 1);
  font-size: 1rem;
  text-decoration: none;
}

.nav-column a:hover {
  color: rgba(166, 163, 149, 1);
}

.navigation-container a:hover {
  color: rgba(166, 163, 149, 1);
}

/*  FOOTER  */
.contact-footer {
  color: rgba(226, 220, 203, 1);
  margin-top: -23rem;
}

#logo-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 7vw;
  margin: 0 auto;
  margin-bottom: 50vh;
  cursor: pointer;
}

#footer-place {
  position: relative;
  padding-left: 21.5vw;
  top: 10vh;
}

#footer-legal {
  position: relative;
  padding-left: 43vw;
  top: 7.5vh;
}

#footer-email {
  position: relative;
  padding-left: 66vw;
  top: 4.6vh;
}

#finalname {
  font-size: 15rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: rgba(166, 163, 149, 1);
  line-height: 0.5;
  display: block;
  bottom: 0;
  transform: translateY(33%);
}

#x-logo {
  padding-left: 80vw;
  width: 2vw;
  height: auto;
  cursor: pointer;
  fill: #e2dccb;
}

#facebook-logo {
  width: 2vw;
  height: auto;
  cursor: pointer;
  fill: #e2dccb;
}

#x-logo:hover,
#facebook-logo:hover,
#logo-footer:hover {
  fill: rgba(166, 163, 149, 1);
}

/*  back to top logic  */
#backToTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: opacity 0.4s ease;
  opacity: 0;
  z-index: 1000;
}

#backToTop.visible {
  opacity: 1;
}

#arrow-up {
  width: 2vw;
  height: auto;
}

/* FEATURES */
.intro h2,
.features h3,
.team h3 {
  color: #111;
  margin-bottom: 15px;
}

.intro p,
.team p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.features ul {
  list-style: none;
  padding-left: 0;
}

.features li {
  margin-bottom: 10px;
  font-size: 1rem;
}
