/* GLOBAL STYLES */
* {
  font-family: "Inter", sans-serif;
}

/* NAVIGATION BAR */
nav {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

/* GENERAL CONTENT */
.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.content img {
  width: 95vw;
  height: auto;
  display: block;
  border-radius: 20px;
  margin: 0 auto;
}

/* WEB HERO */
#home-video {
  width: 95vw;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: 20px;
}

/* ABOUT */
.joinrect h2 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 1%;
  padding-top: 1rem;
}

.joinrect p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.joinrect button {
  display: block;
  margin: 0 auto;
  font-size: 1rem;
  padding: 10px 40px;
  font-style: normal;
  font-weight: 700;
  background-color: transparent;
  color: black;
  border: 3px solid #222122;
  border-radius: 40px;
  cursor: pointer;
}

#about-vector {
  padding-top: 2%;
  width: 3vw;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* COMPLETE FOOTER */
footer {
  background-color: #222122;
  width: 95vw;
  height: 80vh;
  display: block;
  bottom: 0;
  left: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0 auto;
  padding-bottom: 0%;
  margin-top: 30px;
}

footer p {
  font-weight: 300;
  color: rgba(226, 220, 203, 1);
  font-size: 1rem;
  margin: 0;
}

.navigation-container {
  font-style: italic;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2vw;
  padding-top: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.contact-footer {
  color: rgba(226, 220, 203, 1);
  margin-top: -23rem;
}

#logo-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 7vw;
  margin: 0 auto;
  margin-bottom: 50vh;
}

#finalname {
  font-size: 15rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: rgba(226, 220, 203, 1);
  line-height: 0.5;
  display: block;
  bottom: 0;
  transform: translateY(33%);
}

#x-logo {
  padding-left: 80vw;
  width: 2vw;
  height: auto;
  cursor: pointer;
  fill: #e2dccb;
}

#facebook-logo {
  width: 2vw;
  height: auto;
  cursor: pointer;
  fill: #e2dccb;
}

#x-logo:hover #facebook-logo {
  fill: rgba(166, 163, 149, 1); /* not currently working*/
}

/* FEATURES */
.intro h2,
.features h3,
.team h3 {
  color: #111;
  margin-bottom: 15px;
}

.intro p,
.team p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.features ul {
  list-style: none;
  padding-left: 0;
}

.features li {
  margin-bottom: 10px;
  font-size: 1rem;
}
