/* GLOBAL STYLES */
* {
  font-family: "Inter", sans-serif;
}

/* NAVIGATION BAR */
nav {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

/* GENERAL CONTENT */
.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 40px;
}

/* WEB HERO */
#home-video {
  width: 95vw;
  height: auto;
  margin: 0 auto;
  display: block;
  border-radius: 20px;
}

/* info, about our cause */
.joinrect {
  width: 100%;
  height: 20rem;
  left: 437px;
  top: 1321px;
  background-color: rgba(166, 163, 149, 1);
  border-radius: 40px;
}

.joinrect h2 {
  font-size: 2rem;
  text-align: center;
  padding-top: 2rem;
}
.joinrect p {
  font-size: 1.2rem;
  width: 60%;
  text-align: center;
  padding: 1rem;
}
.joinrect button {
  display: block;
  margin: 0 auto;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: rgba(166, 163, 149, 1);
  color: black;
  border: 3px solid #222122;
  border-radius: 40px;
  cursor: pointer;
}

footer {
  background-color: #222122;
  width: 100%;
  text-align: center;
  padding-bottom: 0%;
  margin-top: 30px;
}
footer p {
  color: rgba(226, 220, 203, 1);
  font-size: 18px;
  margin: 0;
  text-transform: uppercase;
}
.end-links {
  display: flex;
  gap: 75%;
}
.footer-left {
  text-align: left;
  padding-top: 2rem;
}
.footer-right {
  text-align: right;
  padding-right: 3rem;
  padding-top: 2rem;
}
footer img {
  width: 5rem;
  height: auto;
  margin: 10px;
}

#finalname {
  font-size: 15rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-bottom: 0%;
  color: rgba(226, 220, 203, 1);
}

/*about page*/

.about {
  max-width: 100vw;
  padding: 30px;
  margin: 6% 10%;
  border-radius: 12px;
}

.about img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.intro h2,
.features h3,
.team h3 {
  color: #111;
  margin-bottom: 15px;
}

.intro p,
.team p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.features ul {
  list-style: none;
  padding-left: 0;
}

.features li {
  margin-bottom: 10px;
  font-size: 1rem;
}
