* {
  font-family: "Inter", sans-serif;
}

nav {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.nav-bar {
  position: fixed;
  top: 7px; /* Adds space between the navbar and the top of the screen */
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 60px;
  max-width: 1500px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1000; /* Ensures the navbar is above the "video" */
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}

#logo {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

#logo img {
  max-height: 160px;
  width: auto;
  position: relative;
  top: -10px;
  display: inline-block;
}

.search {
  --padding: 14px;
  left: 920px;
  position: absolute;
  width: max-content;
  display: flex;
  align-items: center;
  padding: var(--padding);
  border-radius: 28px;
  background: #ffffff;
  width: 280px;
}

.search-input {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #333333;
  margin-left: var(--padding);
  outline: none;
  border: none;
  background: transparent;
  width: 200px;
  flex: 1;
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.material-symbols-outlined {
  font-size: 24px;
  color: #333333;
  cursor: pointer;
  transition: all 0.3s ease;
}

.settings-icon {
  scale: 2;
  position: absolute;
  left: 1400px;
  color: #f6f6f6;
  top: 35px;
}

.person-icon {
  scale: 2;
  position: absolute;
  left: 1300px;
  color: #f6f6f6;
  top: 35px;
}

.body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.content video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 40px;
}

.content img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 40px;
}

/*off screen menu*/
.off-screen-menu {
  position: fixed;
  top: -501%; /* Initial position when hidden */
  left: 0;
  width: 30%;
  height: 300px;
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Glass effect */
  -webkit-backdrop-filter: blur(10px); /* Glass effect for WebKit browsers */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Optional: Adds shadow for depth */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  justify-content: flex-start; /* Align items to the top */
  transition: top 0.3s ease; /* Smooth transition */
  z-index: 999;
  border-radius: 46px; /* Optional: Rounded corners */
}

.off-screen-menu li {
  list-style: none;
}

.off-screen-menu a {
  text-decoration: none; /* Removes the underline */
  color: #f6f6f6; /* Changes the text color */
  font-size: 3rem; /* Adjusts the font size */
  font-family: "Inter", sans-serif; /* Optional: Ensures consistent font */
  display: block; /* Makes the links block-level for better spacing */
  padding-left: 20px;
  padding-top: 33px;
  margin-top: -30px;
}

.off-screen-menu.active {
  top: 105px;
}

nav {
  padding: 1rem;
}

.ham-menu {
  height: 50px;
  width: 50px;
  margin-right: auto;
  margin-left: -160px;
  position: relative;
  z-index: 1001; /* Ensure the hamburger menu is above the off-screen menu */
}

.ham-menu span {
  width: 100%;
  height: 5px;
  background-color: #f6f6f6;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Adjust for centering */
  transition: 0.3s ease;
  z-index: 1003;
}

.ham-menu-button {
  position: absolute;
  top: 0;
  left: 200px; /* Adjust to change x position */
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1002;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(2) {
  top: 75%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* info, about our cause */
.joinrect {
  width: 100%;
  height: 20rem;
  left: 437px;
  top: 1321px;
  background-color: rgba(166, 163, 149, 1);
  border-radius: 40px;
}

.joinrect h2 {
  font-size: 2rem;
  text-align: center;
  padding-top: 2rem;
}
.joinrect p {
  font-size: 1.2rem;
  width: 60%;
  text-align: center;
  padding: 1rem;
}
.joinrect button {
  display: block;
  margin: 0 auto;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: rgba(166, 163, 149, 1);
  color: black;
  border: 3px solid #222122;
  border-radius: 40px;
  cursor: pointer;
}

footer {
  background-color: #222122;
  width: 100%;
  text-align: center;
  padding: 20px;
  padding-bottom: 0%;
  margin-top: 30px;
}
footer a {
  color: rgba(226, 220, 203, 1);
  text-decoration: none;
  font-size: 18px;
  margin: 0;
  text-transform: uppercase;
  padding: 2px;
  display: flex;
}
.end-links {
  display: flex;
  gap: 75%;
}
.footer-left {
  text-align: left;
  padding-left: 3rem;
  padding-top: 2rem;
}
.footer-right {
  text-align: right;
  padding-right: 3rem;
  padding-top: 2rem;
}
footer img {
  width: 5rem;
  height: auto;
  margin: 10px;
}

#finalname {
  font-size: 15rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-bottom: 0%;
  color: rgba(226, 220, 203, 1);
}

/*panels*/
.Explore,
.Popular {
  display: flex;
  gap: 35%;
}

.Explore a,
.Popular a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 10px;
}

.Explore,
.Popular h1 {
  margin-bottom: 0;
  margin-top: 10px;
}
.explore-panels,
.popular-panels {
  display: flex;
  width: 60vw;
  height: 40vh;
}

.panel {
  flex: 1;
  transition: flex 0.5s ease;
  margin: 10px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

/* Panel Colors */
#Cycling {
  background-color: rgb(106, 142, 174);
}

#Powerlifting {
  background-color: rgb(221, 124, 128);
}

#Yoga {
  background-color: rgb(125, 120, 48);
}

#high,
#medium,
#low {
  background-color: rgb(226, 220, 203);
}

.panel:hover {
  flex: 1.5;
  transition: flex 0.5s ease;
}

.panel h3 {
  font-size: 2rem;
  padding-left: 3%;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.panel p {
  font-size: 1rem;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 0;
}

/*about page*/

.about {
  max-width: 800px;
  padding: 30px;
  margin: 6% 10%;
  border-radius: 12px;
}

.about img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.intro h2,
.features h3,
.team h3 {
  color: #111;
  margin-bottom: 15px;
}

.intro p,
.team p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.features ul {
  list-style: none;
  padding-left: 0;
}

.features li {
  margin-bottom: 10px;
  font-size: 1rem;
}
