/* GLOBAL STYLES */
* {
  font-family: "Inter", sans-serif;
}

.josefin-sans-font {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

a {
  outline: none;
  text-decoration: none;
}

a:focus {
  outline: none;
}

/* NAVIGATION BAR */
.logo-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 6.1vw;
  top: -4vh;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

#nav-bar-background {
  z-index: 0;
}

#nav-logo {
  width: clamp(30px, 3vw, 80px);
  position: absolute;
  top: 4vh;
  left: 50%;
  transform: translateX(-50%);
  height: 60%;
  pointer-events: auto;
  margin-top: -5px;
  z-index: 100;
}

nav {
  display: flex;
  gap: 2rem;
  text-transform: uppercase;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.nav-bar {
  position: fixed;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  max-width: 100%;
  height: 38px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  z-index: 1000;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}

#logo img {
  max-height: 10px;
  width: auto;
  position: relative;
  top: -10px;
  display: inline-block;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* SEARCH FUNCTION */
.search {
  position: absolute;
  top: 25%;
  left: 64%;
  display: flex;
  align-items: center;
  padding: 8px;
  margin-left: 4vw;
  border-radius: 28px;
  background: #ffffff;
  width: 20vh;
}

.search-input {
  border: none;
  color: rgba(34, 33, 34, 0.7);
  width: 17vh;
}

.search-input:focus {
  outline: none;
  box-shadow: none;
}

input[type="text"] {
  width: 150px;
  border-radius: 28px;
  background: #ffffff;
}

/* PERSON ICON */
.person-icon {
  position: absolute;
  top: 23%;
  right: 9%;
  width: 3vw;
  height: auto;
  fill: white;
  cursor: pointer;
}

.settings-icon {
  position: absolute;
  top: 25%;
  right: 3%;
  width: 3vw;
  height: auto;
  fill: white;
  cursor: pointer;
}

/* WEB HERO */
#home-video {
  width: 95vw;
  height: auto;
  display: block;
  border-radius: 19px;
  margin: 0 auto;
  pointer-events: auto;
}

.video-controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  padding: 8px 12px;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.video-controls:not(.hide) {
  opacity: 1;
  pointer-events: auto;
}

#playPauseBtn {
  background: transparent;
  border: none;
  color: white;
  font-size: 32px;
  cursor: pointer;
  padding-left: 2vw;
}

#videoTime {
  font-size: 18px;
  color: white;
  margin-left: 80vw;
}

.video-wrapper {
  position: relative;
  display: inline-block;
}

.body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.content {
  width: 95vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.content img {
  width: 95vw;
  height: auto;
  display: block;
  border-radius: 20px;
  margin: 0 auto;
}

/*off screen menu for the hamburger*/
.off-screen-menu {
  position: fixed;
  top: -501%; /* Initial position when hidden */
  left: 0;
  width: 25%;
  height: 280px;
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Glass effect */
  /* Glass effect for WebKit browsers */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Optional: Adds shadow for depth */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: top 0.3s ease;
  z-index: 999;
  border-radius: 46px; /* Optional: Rounded corners */
}

.off-screen-menu a {
  text-decoration: none;
  text-align: justify;
  color: #f6f6f6;
  font-size: 2.8rem;
  font-family: "Josefin Sans", sans-serif;
  padding-bottom: 1rem;
  display: block;
  list-style-type: none;
  line-height: 0.8;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform: translate(
    20px,
    25px
  ); /* Moves the text 20px to the right and 30px down */
}

.off-screen-menu li {
  list-style: none;
}

.off-screen-menu.active {
  top: 105px;
}

nav {
  padding: 1rem;
}

.ham-menu {
  height: 50px;
  width: 50px;
  margin-right: auto;
  margin-left: -160px;
  position: relative;
  z-index: 1001; /* Ensure the hamburger menu is above the off-screen menu */
}

.ham-menu span {
  width: 100%;
  height: 5px;
  background-color: #f6f6f6;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Adjust for centering */
  transition: 0.3s ease;
  z-index: 1003;
}

.ham-menu-button {
  position: absolute;
  top: 0;
  left: 200px; /* Adjust to change x position */
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1002;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(2) {
  top: 75%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.joinrect h2 {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 1%;
  padding-top: 1rem;
}

.joinrect p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.joinrect button {
  display: block;
  margin: 0 auto;
  font-size: 1rem;
  padding: 10px 40px;
  font-style: normal;
  font-weight: 700;
  background-color: transparent;
  color: #222122;
  border: 3px solid #222122;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.joinrect button:hover {
  background-color: #222122;
  color: white;
}

#about-vector {
  padding-top: 2%;
  width: 3vw;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* STATIC INFO / BEFORE MOVING  */
.explore-panels,
.popular-panels {
  display: flex;
  width: 100%;
  height: 30em;
  gap: 0.5rem;
}

.explore-panels .panel:first-child,
.popular-panels .panel:first-child {
  flex-grow: 3;
}

.explore-panels .panel:first-child .panel-text {
  opacity: 1;
  visibility: visible;
}

.panel .panel-text {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.explore-panels {
  display: flex;
}

.panel {
  flex: 1;
  transition: flex 0.3s ease;
}

.panel:hover {
  flex: 3;
}

/* shrink others when one is hovered */
.explore-panels:hover .panel {
  flex: 1; /* default size of non-hovered */
}

/* maintain flex: 3 on the hovered one */
.explore-panels:hover .panel:hover {
  flex: 3;
}

.panel-text {
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 1;
  visibility: visible;
}

/* text visability when not hovered */
.explore-panels:hover .panel .panel-text {
  opacity: 0;
  visibility: hidden;
}

/* text visability when */
.explore-panels:hover .panel:hover .panel-text {
  opacity: 1;
  visibility: visible;
}

/* TITLES for the see all and explore etc. */
.explore h1,
.popular h1 {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 2%;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: #222122;
}

/* see all part */
.explore a,
.popular a {
  padding-right: 3%;
  margin-left: auto;
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.explore a .arrow,
.popular a .arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

.explore a:hover .arrow,
.popular a:hover .arrow {
  transform: translateX(5px);
}

/* next section */
.explore,
.popular {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: -1.5%;
}

.panel h3,
.panel p {
  color: white;
}

/* BACKGROUND PANEL INFO */
.panel {
  flex: 1;
  transition: flex 0.5s ease;
  margin: 10px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.panel h3 {
  font-size: 2rem;
  padding-left: 4%;
  margin-top: 20rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.panel p {
  font-size: 1rem;
  padding-left: 4%;
  padding-right: 3%;
  margin-top: 0;
}

#cycling {
  background-image: url("/img/bike-close-up.jpg");
}

#powerlifting {
  background-image: url("/img/powerlifting.png");
}

#yoga {
  background-image: url("/img/yoga.png");
}

#high,
#medium,
#low {
  background-color: rgb(226, 220, 203);
}

/* COMPLETE FOOTER */
footer {
  background-color: #222122;
  width: 95vw;
  height: 80vh;
  display: block;
  bottom: 0;
  left: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0 auto;
  padding-bottom: 0%;
  margin-top: 30px;
}

footer p {
  font-weight: 300;
  color: rgba(226, 220, 203, 1);
  font-size: 1rem;
  margin: 0;
}

.navigation-container {
  font-style: italic;
  text-transform: uppercase;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 55vw;
  padding-top: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.nav-column {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.nav-column a {
  font-weight: 300;
  color: rgba(226, 220, 203, 1);
  font-size: 1rem;
  text-decoration: none;
}

.nav-column a:hover {
  color: rgba(166, 163, 149, 1);
}

.navigation-container a:hover {
  color: rgba(166, 163, 149, 1);
}

.contact-footer {
  color: rgba(226, 220, 203, 1);
  margin-top: -23rem;
}

#logo-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 7vw;
  margin: 0 auto;
  margin-bottom: 50vh;
  cursor: pointer;
}

#footer-place {
  position: relative;
  padding-left: 21.5vw;
  top: 8.5vh;
}

#footer-legal {
  position: relative;
  padding-left: 43vw;
  top: 6.5vh;
}

#footer-email {
  position: relative;
  padding-left: 66vw;
  top: 4.5vh;
}

#finalname {
  font-size: clamp(3rem, 10vw, 10rem);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: rgba(166, 163, 149, 1);
  line-height: 0.5;
  display: block;
  bottom: 0;
  transform: translateY(50%);
}

#x-logo {
  padding-left: 80vw;
  width: 2vw;
  height: auto;
  cursor: pointer;
  fill: #e2dccb;
}

#facebook-logo {
  width: 2vw;
  height: auto;
  cursor: pointer;
  fill: #e2dccb;
}

#x-logo:hover,
#facebook-logo:hover,
#logo-footer:hover {
  fill: rgba(166, 163, 149, 1);
}

/*  BACK TO TOP LOGIC  */
#backToTop {
  width: 3.5vw;
  height: 3.5vw;
  min-width: 3.5vw;
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: opacity 0.4s ease;
  opacity: 0;
  z-index: 1000;
  visibility: hidden;
  pointer-events: none;
}

#backToTop.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

#arrow-up {
  width: 2vw;
  height: auto;
}

/* FEATURES */
.intro h2,
.features h3,
.team h3 {
  color: #111;
  margin-bottom: 15px;
}

.intro p,
.team p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.features ul {
  list-style: none;
  padding-left: 0;
}

.features li {
  margin-bottom: 10px;
  font-size: 1rem;
}

/*  RESPONSIVENESS, MEDIA QUERIES  */

/* small screens (phones) */
/* @media (max-width: 600px) {
  .nav-bar {
    flex-direction: column;
    height: auto;
    padding: 0.5rem;
    gap: 0.5rem;
  }

  .search {
    width: 80vw;
    left: 10%;
  }

  .search-input {
    width: 100%;
  }

  .person-icon,
  .settings-icon {
    width: 8vw;
    right: 5%;
  }

  #nav-logo {
    width: 10vw;
  }

  .explore-panels,
  .popular-panels {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .panel {
    height: 30vh;
  }

  footer {
    height: auto;
    padding: 2rem 1rem;
  }

  .navigation-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  #finalname {
    font-size: 4rem;
    line-height: 1;
  }
}
  */

/* medium screens (tablets) */
/*@media (min-width: 601px) and (max-width: 1024px) {
  .nav-bar {
    padding: 1rem;
  }

  .search {
    width: 30vw;
    left: 55%;
  }

  .person-icon,
  .settings-icon {
    width: 6vw;
  }

  .explore-panels,
  .popular-panels {
    width: 80vw;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .panel {
    height: 35vh;
    width: 48%;
  }

  footer {
    padding: 3rem 2rem;
    height: auto;
  }

  .navigation-container {
    gap: 10vw;
  }

  #finalname {
    font-size: 8rem;
  }
}
*/
/* large screens (desktops and up) */
/*@media (min-width: 1025px) {
  .nav-bar {
    max-width: 75%;
  }

  .search {
    width: 25vh;
  }

  .person-icon,
  .settings-icon {
    width: 2vw;
  }

  .explore-panels,
  .popular-panels {
    width: 100vw;
    flex-direction: row;
  }

  .panel {
    height: 40vh;
  }

  footer {
    max-width: 95vw;
    padding: 4rem 2rem;
  }

  .navigation-container {
    gap: 55vw;
  }

  #finalname {
    font-size: 15rem;
  }
}
*/
/* Extra-large screens (ultrawide monitors) */
/*@media (min-width: 1600px) {
  .nav-bar {
    max-width: 60%;
  }

  .search {
    left: 65%;
    width: 30vh;
  }

  #nav-logo {
    width: 2vw;
  }

  .person-icon,
  .settings-icon {
    width: 1.5vw;
  }

  .explore-panels,
  .popular-panels {
    width: 50vw;
  }

  .panel h3 {
    font-size: 2.5rem;
  }

  #finalname {
    font-size: 20rem;
  }
}
*/
