/* GLOBAL STYLES */
#create-body {
  background-color: rgb(34, 33, 34);
  color: rgb(226, 220, 203);
}

.container {
  margin-top: 8rem;
  color: rgb(226, 220, 203);
  position: relative;
  width: 95%;
  height: auto;

  background-color: #222122;
  background-size: cover;
  background-position: center;

  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}

.container h1 {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  gap: 3%;
  margin-left: 1.5rem;
  margin-bottom: 0%;

  color: rgb(226, 220, 203);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 5rem;
}

h2 {
  color: rgb(226, 220, 203);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem;

  margin: 1.2rem;
}

/*  YOUR SAVED WORKOUTS */
.workout-panel {
  height: auto;
  background-color: rgb(34, 33, 34);
  border-radius: 20px;
  border: 5px solid rgb(226, 220, 203, 0.5);
  margin: 1.2rem auto 0 auto;
}

.placeholder {
  color: #777;
  width: 90%;
  height: auto;

  padding: 1rem;
  margin: 0 auto;

  background-color: #2b2b2b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.workout-list {
  padding: 0%;
}

.remove-btn {
  margin: 1.5rem auto;
  background-color: transparent;
  color: rgb(226, 220, 203);
  padding: 1rem 2rem;
  height: 3.5rem;
  border: 3px solid rgb(226, 220, 203);
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 40px;
  cursor: pointer;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.remove-btn:hover {
  background-color: rgb(226, 106, 69);
}

/* HEADER (everything before filtering) */

#save-workout,
.action-button {
  margin: 1.5rem auto;
  background-color: transparent;
  color: rgb(226, 220, 203);
  padding: 1rem 2rem;
  height: 3.5rem;
  border: 3px solid rgb(226, 220, 203);
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 40px;
  cursor: pointer;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#save-workout:hover,
.action-button:hover {
  background-color: rgb(226, 220, 203);
  color: #222122;
}

/* EXERCISES */
.exercise-card {
  background-color: rgb(34, 33, 34);
  margin: 20px 0;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

.exercise-title {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 2%;
  background-color: rgb(34, 33, 34);
  color: rgb(226, 220, 203);
}

.exercise-cat {
  font-size: 1rem;
  color: rgb(226, 220, 203);
  margin-bottom: 15px;
  background-color: rgb(34, 33, 34);
}

.exercise-description {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 15px;
  background-color: rgb(34, 33, 34);
  color: rgb(226, 220, 203);
}

p {
  font-size: 1.5rem;
  background-color: rgb(34, 33, 34);
  color: rgb(226, 220, 203);
  text-align: left;
  margin-bottom: 2%;
  margin-top: 2%;
}

.tags {
  background-color: rgb(34, 33, 34);
  gap: 90px;
  margin-bottom: 3%;
}
.tag {
  background-color: #333;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 1rem;
  color: rgb(221, 124, 128);
}

button.add-button {
  margin: 0 auto;
  font-size: 1rem;
  padding: 10px 40px;
  font-style: normal;
  font-weight: 700;
  background-color: transparent;
  color: rgb(226, 220, 203);
  border: 3px solid rgb(226, 220, 203);
  border-radius: 40px;
  cursor: pointer;
}

button.add-button:hover {
  background-color: rgb(96, 132, 164);
}
button:active {
  transform: scale(0.95);
  background-color: rgb(226, 220, 203);
}

.loading {
  text-align: center;
  margin-top: 100px;
  font-size: 2rem;
  color: rgb(34, 33, 34);
}
